* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.App {
  background: #2b2e34;
  width: 100%;
  margin: 0 auto;
  padding-top: 47px;
  position: relative;
}
