header {
  display: flex;
width: 954px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
header > div{
    width: 30%;
}
h2{
    color: rgb(1,117,255);
}
samp{
    color: rgb(0, 194,255);
    font-weight: 900;
    font-size: 22px;
}
.paragraph{
    color: rgb(1, 117, 255);
    display: inline;
    font-size: 22px;
    font-weight: 900;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
  font-weight: 800;
}
ul {
  display: flex;
}
.textColor{
    color: rgb(0, 156,255);
}
